/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
Body {
font-family: 'Arial','Georgia','Helvetica';

font-size: 18px;
}

a {
display:block;
text-decoration:none;
 color:#ffffff;
}

ul{
list-style-type:none;

}

.wrapper {
width:940px;
margin:0 auto;
}

.header {
background-color:#ffffff;
}

.logo {
float:left;
padding-top:16px;
font-size:22px;
line-height:40px;
font-weight:700;
}

.headerRight {
float:right;
padding-top:17px;
font-size:16px;
line-height:40px;
padding-bottom:20px;
font-weight:700;

}

.headerRight li {
float:left;
padding-right:40px;

}

.headerRight a {
color:#00bbcc;
}

#firstList {

color:#000000;

}


#link {

display:block;
border-radius:3px;
width:66px;
height:30px;
border:none;
text-align:center;
background:#00bbcc;
padding-bottom:5px;
color:#FFFFFF;
}

.clear {
clear:both;
float:none;
}

.imageContainer {
background-size:100%;
height:650px;
background-image:url('../images/banner.jpg');
}

.mainHeading {

width:600px;
font-size:44px;
line-height:54px;
padding-top:100px;
}

.getStarted {
float:left;
font-weight:700;
font-size:30px;
border-radius:3px;
width:220px;
height:55px;
border:none;
margin-top:30px;
text-align:center;
color:#FFFFFF;
background:#ff9900;
padding-top:15px;
}

.leftDivision {
float:left;
}


.leftDivision ul {

margin-top:32px;
}

.leftDivision li {

margin-right:20px;
float:left;
width:220px;

}

.leftDivision a {

color:#000000;

}

.leftDivision .clear {

clear:both;
float:none;
width:0px;
height:0px;
margin-right:0px;

}

.features {

color:#00bbcc;
font-size:36px;
margin-top:44px;
margin-bottom:20px;
font-weight:bold;
}



.courseIcon {
height:22px;
background-image:url('../images/course.png');
background-repeat:no-repeat;
}

.assessIcon {
height:22px;
background-image:url('../images/asses.png');
background-repeat:no-repeat;
}

.scoresIcon {
height:22px;
background-image:url('../images/score.png');
background-repeat:no-repeat;
}

.reportsIcon {
height:22px;
background-image:url('../images/report.png');
background-repeat:no-repeat;
}

.supportIcon {
height:22px;
background-image:url('../images/support.png');
background-repeat:no-repeat;
}

.testIcon {
height:22px;
background-image:url('../images/test.png');
background-repeat:no-repeat;
}

.notifyIcon {
height:22px;
background-image:url('../images/notify.png');
background-repeat:no-repeat;
}

.certifyIcon {
height:22px;
background-image:url('../images/certify.png');
background-repeat:no-repeat;
}

.groupIcon {
height:22px;
background-image:url('../images/group.png');
background-repeat:no-repeat;
}


h5 {
padding-left:30px;
font-size:15px;
font-family:Helvetica;
font-weight:bold;

}


.featuresDescription {
font-size:13px;
color:#666666;
line-height:17px;
padding-left:30px;
padding-top:8px;
}


.rightDivision {

float:right;


}

.clients {

color:#00bbcc;
font-size:30px;
margin-top:44px;
padding-bottom:20px;
}

.mlb {
width:210px;
height:60px;
border:1px ridge #d6d6d6;
}

#image {
padding-top:20px;
padding-left:7px;
}

.usa {
float:left;
width:105px;
height:80px;
border:1px ridge #d6d6d6;



}
.chemistry {
float:left;
width:105px;
height:80px;
border:1px ridge #d6d6d6;
}

.testimonials {
width:210px;
height:100px;
border:1px ridge #d6d6d6;


}

.person {
height:43px;
float:left;
background-image:url('../images/john.png');
margin-top:20px;
background-repeat:no-repeat;
}

.text {

float:left;

}

.clientsTalk {

color:#666666;
font-size:11px;

}


.footer {
height:260px;
background-color:#00a2b1;
}

.footerText {
float:left;
color:#FFFFFF;
font-size:25px;
margin-top:30px;
}

.footerButton {

float:right;
margin-top:20px;

}

.footerleftul {
float:left;

}

.footerRightul {

float:right;

}

.circle {


height:30px;
width:30px;
background:#ffffff;
border-radius:50%;
background-repeat:no-repeat;
background-position:center center;
margin:0 6px ;

}

.facebookIcon {

background-image:url('../images/f.png');

}
.googleIcon {

background-image:url('../images/g.png');

}
.pinIcon {

background-image:url('../images/p.png');

}
.twitterIcon {

background-image:url('../images/t.png');

}

.footer li

{
float:left;
}

.footerNav {
color:#ffffff;
padding-right:17px;
font-weight:bold;
line-height:30px;

}


.footerNavhome {
color:#000000;

}
.alignment {
float:left;
font-size:14px;
margin-top:22px;
margin-right:24px;
}

.termsnService
{ float:left;
margin-top:22px;
font-size:14px;
}

.termsnService li
{ 
padding-right:20px;
}






