/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

Body {
font-family: 'Source Sans Pro', 'sans-serif','Arial','Georgia','Helvetica';
font-size: 18px;


}

<<<<<<< HEAD
a {
display:block;
text-decoration:none;
 color:#000000;
}


.wrapper {
width:940px;
=======
.Wrapper {
width:980px;
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
margin:0 auto;
}

.header {
background-color:#444444;
height:50px;
}

<<<<<<< HEAD
.logo {
=======
.Logo {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
margin-top:9px;
margin-right:54px;
float:left;
}

 ul {
list-style-type:none;
float:left;

}

<<<<<<< HEAD
li {
=======
 .Header li {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908

float:left;
}

<<<<<<< HEAD
.header li a {
=======
.Header li a {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
font-size:18px;
line-height:30px;
font-weight:bold;
color:#aaaaaa;
<<<<<<< HEAD
padding-right:25px;
padding-left:25px;
padding-top:12px;
padding-bottom:10px;
=======
text-decoration:none;
padding-right:25px;
padding-left:25px;
padding-top:25px;
padding-bottom:25px;
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
}




.clear {
clear:both;
float:none;

<<<<<<< HEAD
=======
}

a{
 text-decoration:none;
 color:#000000;
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
}



.blueContainer {
background-image:url('../images/pattern.jpg');
background-repeat:repeat;
height:485px;
}

<<<<<<< HEAD
.leftContent {

float:left;
margin:190px 20px 0px 18px;
=======
.Leftcontent {

float:left;
margin:190px 0px 50px 20px;
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908

}

h1 {
font-size:48px;
font-weight:bold;
color:#ffffff;
}

pre {
color:#ffffff;
font-size:36px;
<<<<<<< HEAD
font-weight:100;
}

.link {
=======
font-weight:lighter;
}

.Link {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
float:left;
font-weight:bold;
font-size:20px;
border-radius:3px;
width:170px;
<<<<<<< HEAD
height:50px;
margin:45px 20px 120px auto;
border:none;
text-align:center;
padding-top:20px;

}

.view {
background:#f2f2f2;
}

.join {
=======
height:40px;
margin:45px 20px 105px 0px;
border:none;
text-align:center;
padding-top:15px;

}

.View {
background:#f2f2f2;
}

.Join {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908

background:#ff9900;
}

<<<<<<< HEAD
.join a {
color:#FFFFFF;
}

.rightContent {
=======
.Join a {
color:#FFFFFF;
}

.Rightcontent {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
float:right;

}

.pics {
float:left;
margin-top:50px;
margin-right:15px;

}

#frame {
margin-top:90px;
}

#furniture {
margin-right:30px;
<<<<<<< HEAD
}

.whiteContainer {

}



h3 {
font-size:36px;
line-height:30px;
margin-top:64px;
text-align:center;
font-weight:650;
}

.circle {

margin-left:80px;
margin-top:75px;

}

.circle li {
width:180px;
margin-right:20px;
text-align:center;
color:#888888;
font-size:18px;
padding-bottom:65px;

}

.circleList {

height:140px;
width:140px;
background:#efefef;
border-radius:50%;
background-repeat:no-repeat;
background-position:center center;
margin:0 20px ;
}

.lapyIcon {

background-image:url('../images/lapy.png');
=======
}

.Whitecontainer {
height:500px;
}



h3 {
font-size:36px;
line-height:30px;
margin-top:64px;
text-align:center;
}



.lapy {
margin-left:80px;
}

.Whitecontainer li {

float:left;
margin-right:30px;
margin-top:75px;
text-align:center;
color:#888888;
font-size:18px;
margin-bottom:25px;

>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908

}

.homeIcon {

background-image:url('../images/home.png');
}

.frameIcon {

background-image:url('../images/frame.png');
}

.bookIcon {

background-image:url('../images/book.png');
}


.textDivision {
text-align:center;
}



.footer {
height:160px;
background-color:#ececec;
}

.footerRightul{
float:right;
margin-top:20px;


}

.footerRightul li {
margin-right:7px;
}



.size {
font-size:16px;
color:#fa9c40;
padding-right:17px;
margin-top:30px;
font-weight:bold;

}

.home {
color:#000000;
}

<<<<<<< HEAD
.alignment {
float:left;

}

.copyRight
{ 
font-size:14px;
font-weight:bold;
color:#aaaaaa;
margin-top:23px;
}

.copyRight a {

padding-right:13px;
padding-left:13px;
=======

.Size
 {
float:left;
font-size:16px;
color:#fa9c40;
padding-right:17px;
margin-top:30px;
font-weight:bold;


}




.Home {
color:#000000;
}

.Copyright
{ float:left;
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
font-size:14px;
font-weight:bold;
color:#aaaaaa;
}

<<<<<<< HEAD


.terms {
=======
.Copyrightvariant {
padding-right:13px;
padding-left:13px
}

.Terms {
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
margin-left:62px;

}


<<<<<<< HEAD

=======
>>>>>>> 97f9e3ddc039493cf633f2cbaeba43d1ef2b9908
