/* CSS Document */

* {
margin:0;
}

#main {
width:940px;
margin:0px auto;
}

#banner {
background-color:#499bd7;
height:175px;
}

#header {
font-style:inherit;
font-family:Arial;
color:#FFFFFF;
line-height:10px;
padding-top:82.5px;
padding-left:400px;
}

.Graydiv {
background-color:#d6d6d6;
height:60px;

}

.Graydiv ul  {
float:left;
margin:0;
list-style-type:none;
padding-top:20px;
padding-left:2px;


}


.Graydiv ul li {

display:inline;
padding:  .2em;

}
 
.Graydiv ul li a {

font-style:inherit;
font-family:Arial;
line-height:10px;
color:#000000;
text-decoration:none;

 }

.Size_1 {
font-size:14px;
}

.Size_2 {
font-size:12px;
}


.Graydiv span {
font-style:inherit;
font-family:Arial;
font-size:12px;
float:right;
padding-top:20px;

}


#container1{
padding-top:225px;
width:918px;

}
  
#div1 {
margin-top:15px;
width: 213px;
height: 203px;
float:left;
background-color:#d6d6d6;
}
#div2 {
margin-top:15px;
float:right;
width:707px;

}

.Font {
font-style:inherit;
font-family:Arial;
font-size:15px;
line-height:17px;
}
#footer {
margin-top:20px;
}